<h1>Who is the Ironic Ruby Dude?</h1>
<p>Based out in the West Coast in the United States. I have been a software developer for 5 years now to which I have 3 years of Ruby on Rails knowledge with 5 years of J2EE technologies experience. 
I specialize specifically in web design for rails and with java, Spring and Hibernate.</p>
