<div class="inner cover">
            <h1 class="cover-heading">Howdy!!!</h1>
            <p class="lead">I am the IronicRubyDude and welcome you to my page. As a professional ruby on rails developer, I hope you enjoy my portfolio and many things i have in store.</p>
            <p class="lead">
              <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
            </p>
</div>


